@use 'sass:meta';
@use "sass:math";

@use '../../abstracts/variables' as *;
@use '../../abstracts/colors' as *;
@use '../../abstracts/mixins' as *;

.page-article {
    color: rgba($mutti_darken-2, .8);
    font: 400 13px/18px $font-stack;
    margin-bottom: 32px;

    @include minMedia($lg) {
        font-size: 14px;
        padding-bottom: 49px;
        border-bottom: 1px solid rgba($shades_black, .1);
        margin-bottom: 35px;
    }

    * {
        color: inherit;
        font: inherit;
    }

    h2, h3, h4, h5, h6 {
        font-family: $font-header;
    }

    .article-link {
        height: 184px;
        display: flex;
        overflow: hidden;
        margin-bottom: 18px;
        text-decoration: none;

        @include minMedia($lg) {
            height: 322px;
            margin-bottom: 24px;
        }

        > img {
            object-fit: cover;
        }
    }

    .article-image {
        display: block;
        width: 100%;
    }

    .article-title {
        color: $mutti_darken-2;
        font-family: $font-header;
        margin-bottom: 12px;

        @include minMedia($lg) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 16px;
        }

        .title-link {
            display: block;
            text-decoration: none;
        }
    }

    .article-meta {
        color: rgba($mutti_darken-2, .7);
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 12px;

        @include minMedia($lg) {
            font-size: 14px;
            margin-bottom: 16px;
        }

        .meta-link {
            display: inline-block;
            text-decoration: none;
        }

        .meta-section {
            color: inherit;
            font: inherit;
        }

        .meta-date {
            color: inherit;
            font: inherit;
        }

        .meta-separator {
            color: inherit;
            font: inherit;

            &:before, &::before {
                content: '';
                background-size: 34px;
                background-repeat: no-repeat;
                background-position: center -8px;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNicgaGVpZ2h0PScxNicgZmlsbD0nI0Q5RDlEOScgY2xhc3M9J2JpIGJpLWRvdCcgdmlld0JveD0nMCAwIDE2IDE2Jz48cGF0aCBkPSdNOCA5LjVhMS41IDEuNSAwIDEgMCAwLTMgMS41IDEuNSAwIDAgMCAwIDMnLz48L3N2Zz4=");
                display: inline-block;
                width: 20px;
                height: 14px;
            }
        }
    }

    .article-preview {
        margin-bottom: 12px;
        @include minMedia($lg) {
            margin-bottom: 16px;
        }

        p {
            margin-bottom: auto;
        }
    }

    .article-detail {
        margin-bottom: 12px;
        @include minMedia($lg) {
            margin-bottom: 16px;
        }
    }

    .article-button {
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
        background: none;
        padding: 8px 24px;
        border: 1px solid $mutti_darken-2;
        border-radius: 50px;

        @include minMedia($lg) {
            width: auto;
        }
    }

    .article-back {
        margin-top: 1rem;

        > a {
            text-decoration: none;
        }
    }
}
