@use 'sass:meta';
@use "sass:math";

@use '../../abstracts/variables' as *;
@use '../../abstracts/colors' as *;
@use '../../abstracts/mixins' as *;

#map {
    height: 411px;
    display: flex;
    overflow: hidden;
    margin-top: 30px;
    @include minMedia($lg) {
        margin-top: 67px;
    }

    > img {
        object-fit: cover;
    }
}
