@use "sass:math";
@use '../../abstracts/variables' as *;
@use '../../abstracts/colors' as *;
@use '../../abstracts/mixins' as *;

#content-page {
    color: $mutti_darken-2;
    font: 300 13px/1.5 $font-stack;

    margin-top: 16px;
    margin-bottom: 30px;

    @include minMedia($lg) {
        font-size: 14px;
        line-height: 19px;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    * {
        color: inherit;
        font: inherit;
    }

    p {
        margin-bottom: auto;
    }
}
