@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

#title {
    margin-top: 10px;
    margin-bottom: 16px;

    @include minMedia($lg) {
        margin-top: 24px;
        margin-bottom: 45px;
    }
}

.section {
    &-header {
        display: flex;

        &__title {
            font-family: $font-header;
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 0;
            color: $mutti_darken-2;

            @include minMedia($lg) {
                font-size: 48px;
            }
        }

        &__button {
            --bs-btn-font-size: 14px;
            --bs-btn-font-family: #{$font-stack};
            --bs-btn-line-height: 18px;
            --bs-btn-color: #{$mutti_darken-2};

            --bs-btn-border-radius: 50px;
            --bs-btn-border-color: #{$mutti_darken-2};
            --bs-btn-hover-color: var(--bs-btn-color);
            --bs-btn-hover-border-color: var(--bs-btn-border-color);
            --bs-btn-active-color: var(--bs-btn-color);
            --bs-btn-active-border-color: var(--bs-btn-border-color);

            text-align: left;
            text-decoration: none;
            text-transform: uppercase;

            gap: 12px;
            display: flex;
            justify-content: space-between;

            margin-top: 11px;
            @include minMedia($lg) {
                --bs-btn-padding-x: 24px;
                margin-top: 0;
            }
        }

        &.button {
            flex-flow: column;

            @include minMedia($lg) {
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
