[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
transaction-isolation = READ-COMMITTED
innodb_strict_mode = OFF
sql_mode = ""

#default_authentication_plugin=mysql_native_password

# === ЭКСТРЕМАЛЬНЫЕ НАСТРОЙКИ ДЛЯ MySQL 8.4.5 ===
skip-log-bin
innodb_flush_log_at_trx_commit = 0
innodb_doublewrite = 0
performance_schema = OFF
slow_query_log = OFF
general_log = OFF

# === Агрессивные настройки буферов ===
innodb_buffer_pool_size = 3G
innodb_buffer_pool_instances = 3
innodb_redo_log_capacity = 2G
innodb_log_buffer_size = 256M

# === Максимальные I/O настройки ===
innodb_io_capacity = 4000
innodb_io_capacity_max = 8000
innodb_max_dirty_pages_pct = 95
innodb_adaptive_flushing_lwm = 1




[client]
default-character-set = utf8mb4